(
    walls: {
        "441c31c0-4dc7-45a3-bfcc-e7a1f63b6a62": (
            rect: (
                min: (
                    x: -92.0,
                    y: -44.0,
                ),
                max: (
                    x: -9.0,
                    y: 29.0,
                ),
            ),
        ),
        "eb8afc87-cbad-49fb-9b1e-c52b4f19c4b4": (
            rect: (
                min: (
                    x: -9.0,
                    y: -44.0,
                ),
                max: (
                    x: 205.0,
                    y: 0.0,
                ),
            ),
        ),
        "035a0926-f921-4300-978e-96c010779401": (
            rect: (
                min: (
                    x: 46.0,
                    y: -2.5,
                ),
                max: (
                    x: 60.0,
                    y: 2.5,
                ),
            ),
        ),
    },
    checkpoints: {
        "036f93aa-a4e9-4296-ab68-59b509f8ab4e": (
            pos: (
                x: 68.0,
                y: 0.0,
            ),
        ),
        "bda42127-57e0-449c-ad69-8f1308016ff7": (
            pos: (
                x: 0.0,
                y: 0.0,
            ),
        ),
    },
    arrow_tutorials: {
        "e2e1b0e5-a31e-446b-b67c-7ffe94d5b4e9": (
            pos: (
                x: 8.0,
                y: 9.0,
            ),
        ),
    },
    space_tutorials: {
        "83f32f9e-cf15-429a-9fc1-289aff9dda19": (
            pos: (
                x: 41.0,
                y: 11.0,
            ),
        ),
    },
    goals: {
        "64f50543-98a1-40ea-8da2-b5cdfeab71ba": (
            pos: (
                x: 128.0,
                y: -1.0,
            ),
        ),
    },
    arrows: {
        "09d6b390-c159-47b3-956e-1984339fbaea": (
            pos: (
                x: 19.0,
                y: 6.0,
            ),
            angle: 0.0,
        ),
    },
    player_spawn: (
        x: 0.0,
        y: 1.0,
    ),
)