(
    walls: {
        "eb8afc87-cbad-49fb-9b1e-c52b4f19c4b4": (
            rect: (
                min: (
                    x: -50.0,
                    y: -0.1,
                ),
                max: (
                    x: 50.0,
                    y: -2.0,
                ),
            ),
        ),
        "920aee33-be1d-4b26-a915-78a6d457e653": (
            rect: (
                min: (
                    x: -9.83404,
                    y: -10.64991,
                ),
                max: (
                    x: 10.16596,
                    y: -5.64991,
                ),
            ),
        ),
    },
    player_spawn: (
        x: 0.0,
        y: 1.0,
    ),
)