(
    walls: {
        "441c31c0-4dc7-45a3-bfcc-e7a1f63b6a62": (
            rect: (
                min: (
                    x: -13.0,
                    y: -3.0,
                ),
                max: (
                    x: -9.0,
                    y: 29.0,
                ),
            ),
        ),
        "eb8afc87-cbad-49fb-9b1e-c52b4f19c4b4": (
            rect: (
                min: (
                    x: -9.0,
                    y: -3.0,
                ),
                max: (
                    x: 88.0,
                    y: 0.0,
                ),
            ),
        ),
        "035a0926-f921-4300-978e-96c010779401": (
            rect: (
                min: (
                    x: 31.0,
                    y: 0.0,
                ),
                max: (
                    x: 45.0,
                    y: 5.0,
                ),
            ),
        ),
    },
    checkpoints: {
        "036f93aa-a4e9-4296-ab68-59b509f8ab4e": (
            pos: (
                x: 38.0,
                y: 5.0,
            ),
        ),
        "bda42127-57e0-449c-ad69-8f1308016ff7": (
            pos: (
                x: 0.0,
                y: 0.0,
            ),
        ),
    },
    goals: {
        "64f50543-98a1-40ea-8da2-b5cdfeab71ba": (
            pos: (
                x: 74.0,
                y: -1.0,
            ),
        ),
    },
    player_spawn: (
        x: 0.0,
        y: 1.0,
    ),
)